<div class="d-flex justify-content-end mb-1">
  <%= paginate comments, param_name: 'comments_page' %>
</div>
<table class="table table-hover">
  <thead>
    <tr style="background-color: rgba(165, 143, 134, 0.2);">
      <th>コメント者</th>
      <th>コメント</th>
      <th>コメント日</th>
      <th>コメントした投稿</th>
      <th col="1"> </th>
    </tr>
  </thead>
  <tbody>
    <% comments.each do |comment| %>
      <tr>
        <td>
          <%= link_to comment.user.name, admin_user_path(comment.user) %>
        </td>
        <td class="text-truncate" style="max-width: 150px">
          <%= link_to comment.body, admin_comment_path(comment) %>
        </td>
        <td>
          <%= comment.created_at.strftime('%Y/%m/%d') %>
        </td>
        <td>
          <%= link_to comment.post.title, admin_post_path(comment.post) %>
        </td>
        <td>
          <%= link_to '削除', admin_comment_path(comment), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-dark py-1" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="d-flex justify-content-end mt-1">
  <%= paginate comments, param_name: 'comments_page' %>
</div>