<div class="d-flex justify-content-center">
  <%= render 'public/searches/search_form' %>
</div>

<h1>コミュニティ</h1>
<div class="row">
  <div class="col-lg-3 mb-3">
    <%= render 'layouts/new_programs.html.erb' %>
  </div>
  <div class="col-lg-6">
    <p class="py-3 pl-1" style="background-color: rgba(165, 143, 134, 0.2);">
      <strong>投稿編集</strong>
    </p>
    <%= form_with model: @post do |f| %>
      <%= render 'layouts/error_messages', model: f.object %>
      <div class="form-group">
        <label for="title">タイトル</label>
        <%= f.text_field :title, class: "form-control title" %>
      </div>
      <div class="form-group">
        <label for="body">本文</label>
        <%= f.text_area :body, class: "form-control body" %>
      </div>
      <div class="form-group text-right">
        <%= f.submit '更新', class: "btn btn-secondary" %>
        <%= link_to '削除', post_path(@post), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-dark" %>
      </div>
    <% end %>
  </div>
  <div class="col-lg-3 mb-3">
    <p class="py-3 pl-1" style="background-color: rgba(165, 143, 134, 0.2);">
      <strong>コメント一覧</strong>
      （<%= @total_comments_count %> 件）
    </p>
    <% @comments.each do |comment| %>
      <div class="list-group-item list-group-item-action text-truncate">
        <%= link_to user_path(comment.user) do %>
          <p style="font-size: 12px;">＠ <%= comment.user.name %></p>
        <% end %>
        <p class="text-truncate">
          <%= link_to post_comment_path(comment.post_id, comment) do %>
            <%= comment.body %>
          <% end %>
        </p>
        <% if comment.user == current_user %>
          <%= link_to "削除", post_comment_path(@post, comment), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-dark ml-3 py-1" %>
        <% end %>
      </div>
    <% end %>
    <div class="mt-1">
      <%= paginate @comments %>
    </div>
  </div>
</div>
<div class="text-right">
  <%= link_to '投稿詳細へ戻る', post_path(@post), class: "btn btn-secondary" %>
</div>