<div class="d-flex justify-content-center">
  <%= render 'public/searches/search_form' %>
</div>

<h1>コミュニティ</h1>
<div class="row">
  <div class="col-lg-3 mb-3">
    <%= render 'layouts/new_programs.html.erb' %>
  </div>
  <div class="col-lg-6 mb-3">
    <p class="py-3 pl-1" style="background-color: rgba(165, 143, 134, 0.2);">
      <strong>投稿詳細</strong>
    </p>
    <p>
      <%= link_to user_path(@post.user) do %>
        ＠ <%= @post.user.name %>
      <% end %>
      <span> ｜ </span>
      <%= @post.created_at.strftime("%Y/%m/%d") %>
    </p>
    <p>
      ＜<%= @post.title %>＞
    </p>
    <p class="wrap-text">
      <%= simple_format @post.body %>
    </p>
    <% if @post.user_id == current_user.id %>
      <div class="text-right">
        <%= link_to '編集', edit_post_path(@post), class: "btn btn-secondary mb-3" %>
      </div>
    <% end %>
  </div>
  <div class="col-lg-3 mb-3">
    <p class="py-3 pl-1" style="background-color: rgba(165, 143, 134, 0.2);">
      <strong>コメント一覧</strong>
      （<%= @total_comments_count %> 件）
    </p>
    <%= form_with model: [@post, @comment] do |f| %>
      <%= render 'layouts/error_messages', model: f.object %>
      <%= f.text_area :body, placeholder: "コメントをここに", class: "form-control mt-3" %>
      <div class="text-right">
        <%= f.submit "コメントする", class: "btn btn-secondary mt-1 mb-3" %>
      </div>
    <% end %>
    <% @comments.each do |comment| %>
      <div class="list-group-item list-group-item-action text-truncate">
        <%= link_to user_path(comment.user) do %>
          <p style="font-size: 12px;">＠ <%= comment.user.name %></p>
        <% end %>
        
          <%= link_to post_comment_path(@post, comment) do %>
            <p class="text-truncate">
              <%= comment.body %>
            </p>
            <%= comment.created_at.strftime("%Y/%m/%d") %>
          <% end %>
        
        <% if comment.user == current_user %>
          <%= link_to "削除", post_comment_path(@post, comment), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-dark ml-3 py-1" %>
        <% end %>
      </div>
    <% end %>
    <div class="d-flex justify-content-end mt-1">
      <%= paginate @comments, param_name: 'comments_page' %>
    </div>
  </div>
</div>
<div class="text-right">
  <%= link_to 'コミュニティ', posts_path, class: "btn btn-secondary my-3" %>
</div>