<h1>投稿詳細</h1>
<div class="row">
  <div class="col-lg-8">
    <span>投稿者</span>
    <span> | </span>
    <span>
      <%= link_to user_path(@post.user) do %>
        <%= @post.user.name %>
      <% end %>
    </span>

    <h5>タイトル</h5>
    <p><%= @post.title %></p>

    <h5>本文</h5>
    <p><%= @post.body %></p>

    <% if @post.user_id == current_user.id %>
      <%= link_to '編集', edit_post_path(@post), class: "btn btn-secondary mb-3" %>
    <% end %>
  </div>
  <div class="col-lg-3 offset-lg-1">
    <h6>コメント一覧：<%= @comments.count %>件</h6>
    <% @comments.each do |comment| %>
      <div class="my-1">
        <%= comment.body %>
        <span>|</span>
        <%= link_to user_path(comment.user) do %>
          <%= comment.user.name %>
        <% end %>
        <% if comment.user == current_user %>
          <%= link_to "削除", post_comment_path(@post, comment), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-dark ml-3 py-1" %>
        <% end %>
        <br>
      </div>
    <% end %>
    <%= form_with model: [@post, @comment] do |f| %>
      <%= render 'layouts/error_messages', model: f.object %>
      <%= f.text_area :body, placeholder: "コメントをここに", class: "form-control mt-3" %>
      <%= f.submit "コメントする", class: "btn btn-secondary mt-3" %>
    <% end %>
  </div>
</div>
<%= link_to 'コミュニティ', posts_path, class: "btn btn-secondary my-3" %>