<% comments.each do |comment| %>
  <div class="list-group-item list-group-item-action text-truncate">
    <%= link_to user_path(comment.user) do %>
      <p style="font-size: 12px;">＠ <%= comment.user.name %></p>
    <% end %>
    
    <%= link_to post_comment_path(post, comment) do %>
      <p class="text-truncate">
        <%= comment.body %>
      </p>
      <%= comment.created_at.strftime("%Y/%m/%d") %>
    <% end %>
    
    <% if comment.user == current_user %>
      <%= link_to "削除", post_comment_path(post, comment), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-dark ml-3 py-1" %>
    <% end %>
  </div>
<% end %>
<div class="d-flex justify-content-end mt-1">
  <%= paginate comments, param_name: 'comments_page' %>
</div>