<h1>コメント詳細</h1>
<div class="row">
  <div class="col-lg-3 mb-3">
    <%= render 'layouts/new_programs.html.erb' %>
  </div>
  <div class="col-lg-5 mb-3">
    <p class="py-3 pl-1" style="background-color: rgba(165, 143, 134, 0.2);">
      <strong>コメント詳細</strong>
    </p>
    <p>
      <%= link_to user_path(@comment.user) do %>
        ＠ <%= @comment.user.name %>
      <% end %>
      <span> ｜ </span>
      <%= @comment.created_at.strftime("%Y/%m/%d") %>
    </p>
    <p class="wrap-text">
      <%= simple_format @comment.body %>
    </p>
    <% if @comment.user_id == current_user.id %>
      <div class="text-right">
        <%= link_to '削除', post_comment_path(@post, @comment), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-dark mb-3" %>
      </div>
    <% end %>
    <p>
      同じ投稿に対するコメント数：
      <%= @total_comments_count %> 件
    </p>
  </div>
  <div class="col-lg-4 mb-3">
    <p class="py-3 pl-1" style="background-color: rgba(165, 143, 134, 0.2);">
      <strong>コメントした投稿</strong>
    </p>
    <p>
      <%= link_to user_path(@post.user) do %>
        ＠ <%= @post.user.name %>
      <% end %>
      <span> ｜ </span>
      <%= @post.created_at.strftime("%Y/%m/%d") %>
    </p>
    <p>
      ＜<%= @post.title %>＞
    </p>
    <p class="wrap-text">
      <%= simple_format @post.body %>
    </p>
  </div>
</div>
<div class="text-right my-3">
  <%= link_to '投稿詳細へ戻る', post_path(@post), class: "btn btn-secondary" %>
  <%= link_to 'コミュニティ', posts_path, class: "btn btn-secondary" %>
</div>