<%= form_with model: [:admin, program] do |f| %>
  <div class="row">
    <div class="col-lg-8">
      <%= render 'layouts/error_messages', model: f.object %>
      <div id="image-preview" class="mb-3">
        <%= image_tag program.get_image, size: "300x240" unless program.new_record? %><br>
      </div>
      <%= f.label :image, "画像" %>
      <%= f.file_field :image, accept: "image/*", class: "mb-3", id: 'image-upload' %><br>

      <%= f.label :title, "講座名" %><br>
      <%= f.text_field :title, class: "form-control" %>
      
      <%= f.label :body, "紹介文" %><br>
      <%= f.text_area :body, class: "form-control" %>

      <%= f.label :start_date, "開催日" %><br>
      <%= f.date_field :start_date, class: "form-control" %>

      <%= f.label :start_time_only, "時間" %><br>
      <%= f.time_field :start_time_only, class: "form-control" %>
      
      <%= f.label :time_required, "所要時間" %><br>
      <%= f.text_field :time_required, class: "form-control" %>

      <%= f.label :price, "参加費" %><br>
      <%= f.text_field :price, class: "form-control" %>
    </div>
    <div class="col-lg-4 px-lg-4">
      <%= f.label :category_id, "カテゴリー" %><br>
      <%= f.collection_select :category_id, Category.all, :id, :name, { include_blank: "--選択してください--" }, { class: "form-control" } %>

      <%= f.label :publish_status, "公開ステータス" %><br>
      <%= f.select :publish_status, Program.publish_statuses.keys.map { |status| [I18n.t("enums.program.publish_status.#{status}"), status] } %>

      <div class="text-right mr-3 mt-3">
        <%= render 'submit_button', f: f, submit_label: submit_label %>
      </div>
    </div>
  </div>
<% end %>

<script>
document.getElementById('image-upload').onchange = function(e) {
  var file = e.target.files[0];
  var reader = new FileReader();

  reader.onload = function(event) {
    var img = document.createElement('img');
    img.src = event.target.result;
    const preview = document.getElementById('image-preview')
    preview.innerHTML = "";
    preview.appendChild(img);
    const image = document.querySelector("#image-preview img")
    image.setAttribute('width', '300')
    image.setAttribute('height', '240')
  };

  reader.readAsDataURL(file);
};
</script>