<h1>投稿一覧</h1>
  <div class="row">
    <div class="col-3 offset-9 mb-1">
      ｜全 <%= @total_posts_count %> 件｜
      <%= paginate @posts %>
    </div>
  </div>
  <table class="table table-hover">
    <thead>
      <tr style="background-color: rgba(165, 143, 134, 0.2);">
        <th>タイトル</th>
        <th>投稿者</th>
        <th>投稿内容</th>
        <th>投稿日</th>
        <th>コメント数</th>
        <th col="1"> </th>
      </tr>
    </thead>
    <tbody>
      <% @posts.each do |post| %>
        <tr>
          <td>
            <%= link_to post.title, admin_post_path(post) %>
          </td>
          <td>
            <%= post.user.name %>
          </td>
          <td class="text-truncate" style="max-width: 150px">
            <%= post.body %>
          </td>
          <td>
            <%= post.created_at.strftime('%Y/%m/%d') %>
          </td>
          <td>
            <%= post.comments.count %> コメント
          </td>
          <td>
            <%= link_to '削除', admin_post_path(post), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-dark py-1" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="row">
    <div class="col-3 offset-9 mt-1">
      <%= paginate @posts %>
    </div>
  </div>

