<h1>ユーザー一覧</h1>
  <div class="row">
    <div class="col-3 offset-9 mb-1">
      <%= paginate @users %>
    </div>
  </div>
  <table class="table table-hover">
    <thead>
      <tr style="background-color: rgba(165, 143, 134, 0.2);">
        <th>ユーザー名</th>
        <th>ユーザーステータス</th>
        <th>登録日</th>
        <th>更新日</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td>
            <%= link_to admin_user_path(user) do %>
              <%= user.name %>
            <% end %>
          </td>
          <td>
            <%= user.is_active ? "有効" : "無効" %>
          </td>
          <td>
            <%= user.created_at.strftime('%Y/%m/%d') %>
          </td>
          <td>
            <%= user.updated_at.strftime('%Y/%m/%d') %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="row">
    <div class="col-3 offset-9 mt-1">
      <%= paginate @users %>
    </div>
  </div>