<h1>ユーザー詳細</h1>

<div class="row">
  <div class="col-lg-4 mb-lg-3">
    <%= @user.name %>
    <%= @user.email %>
    <%= @user.is_active %>
  </div>
  <div class="col-lg-4 mb-lg-3">
    <% @posts.each do |post| %>
      <%= link_to admin_post_path(post) do %>
        <%= post.title %>
      <% end %>
    <% end %>
  </div>
  <div class="col-lg-4 mb-lg-3">
    <% @comments.each do |comment| %>
      <%= link_to admin_comment_path(comment) do %>
        <%= comment.body %>
      <% end %>
    <% end %>
  </div>
</div>