<h1>マイページ</h1>

<div class="row">
  <div class="user-info col-sm-12 col-md-5 col-lg-4">
    <%= @user.name %>
    <%= link_to '会員情報の編集', edit_user_path(@user) %>
  </div>
  <div class="user-posts col-sm-12 col-md-7 col-lg-8">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>タイトル</th>
          <th>投稿内容</th>
          <th>投稿日時</th>
        </tr>
      </thead>
      <tbody>
        <% @posts.each do |post| %>
          <tr>
            <td>
              <%= link_to post_path(post) do %>
                <%= post.title %>
              <% end %>
            </td>
            <td>
              <%= link_to post_path(post) do %>
                <%= post.body %>
              <% end %>
            </td>
            <td>
              <%= link_to post_path(post) do %>
                <%= post.updated_at %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>