<!DOCTYPE html>
<html>
  <head>
    <title>Admin - アロマ&ハーブ Atelier Puchimoca</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/9af748410a.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
          <span class="navbar-brand">
            <%= link_to 'アロマ&ハーブ Atelier Puchimoca', root_path, class: 'text-dark' %>
          </span>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto" style="font-size: 14px;">
              <% if admin_signed_in? %>
                <li class="nav-item">
                  <%= link_to '講座一覧', admin_programs_path, class: 'nav-link text-dark' %>
                </li>
                <li class="nav-item">
                  <%= link_to 'カテゴリー一覧', admin_categories_path, class: 'nav-link text-dark' %>
                </li>
                <li class="nav-item">
                  <%= link_to '投稿一覧', admin_posts_path, class: 'nav-link text-dark' %>
                </li>
                <li class="nav-item">
                  <%= link_to 'コメント一覧', admin_comments_path, class: 'nav-link text-dark' %>
                </li>
                <li class="nav-item">
                  <%= link_to 'ユーザー一覧', admin_users_path, class: 'nav-link text-dark' %>
                </li>
                <li class="nav-item">
                  <%= link_to 'グループ一覧', admin_groups_path, class: 'nav-link text-dark' %>
                </li>
                <li class="nav-item">
                  <%= link_to '問い合わせ一覧', admin_inquiries_path, class: 'nav-link text-dark' %>
                </li>
                <li class="nav-item">
                  <%= link_to 'ログアウト', destroy_admin_session_path, method: :delete, class: 'nav-link text-dark' %>
                </li>
              <% else %>
                <li class="nav-item">
                  <%= link_to 'ログイン', new_admin_session_path, class: 'nav-link text-dark' %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
      <div class="d-flex justify-content-center mt-1">
        <%= render 'admin/searches/search_form' %>
      </div>
    </header>
    <main>
      <div class="container mt-5">
        <%= render 'layouts/flash_messages' %>
        <%= yield %>
      </div>
    </main>
    <footer>
      <div class="footer text-center py-3 mt-3">
        <%= link_to '@2025. アロマ&ハーブ Atelier Puchimoca. All Rights Reserved.', root_path, style: "color: rgba(52, 58, 64, 1);" %>
      </div>
    </footer>
  </body>
</html>