<!DOCTYPE html>
<html>
  <head>
    <title>Aroma</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/9af748410a.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%= link_to 'アロマ&ハーブ Atelier Puchimoca', root_path %>
      <%= link_to 'About', about_path %>
    </header>
    <%= yield %>
  </body>
</html>
